.theme-switcher {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .theme-icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
  }